<mat-card>En sesión: {{usuario}}</mat-card>
<mat-card>Creado el: {{desde | dateTimeFormat}}</mat-card>
<mat-card>Última Conexión: {{ultimaConexion | dateTimeFormat}}</mat-card>

<mat-card>En sesión Google/Facebook: {{usuarioSocial}}</mat-card>
<img mat-card-image [src]="fotoSocial" style="height: 60px; width: 60px;" *ngIf="fotoSocial">