<form [formGroup]="form" (ngSubmit)="operar()" class="container">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="id" formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input sololetra matInput placeholder="Nombre completo" formControlName="nombreCompleto">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input solonumero matInput placeholder="DNI" formControlName="dni" maxlength="8">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input solonumero matInput placeholder="EDAD" formControlName="edad">
  </mat-form-field>
  <br>
  <img mat-card-image [src]="urlImagen" *ngIf="urlImagen" style="width: 200px;" />
  <br>
  <button mat-raised-button color="primary" type="button"
    onclick="document.getElementById('fileToUpload').click()">Examinar</button>
  <input id="fileToUpload" type="file" style="display: none" (change)="seleccionar($event)">
  <p>{{labelFile}}</p>
  <br>
  <button mat-raised-button color="primary" type="submit">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/cliente' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>

</form>